<a href="{% url 'events' %}" class="btn btn-outline-black rounded-0 btn-lg border border-warning bg-warning">
    <span class="icon text-dark">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase text-dark">Shopping</span>
</a>
<a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg border border-warning bg-warning">
    <span class="text-uppercase text-dark">Checkout</span>
    <span class="icon text-dark">
        <i class="fas fa-lock"></i>
    </span>
</a>